body {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fdfdfd;
  width: 100%;
  height: 75px;
}

.header__content {
  max-width: 1200px;
  margin: 0 auto;
  color: #545454;
}

.header__content img {
  margin-top: 12.5px;
  height: 50px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  position: fixed;
  top: 100px;
  z-index: -100;
  display: block;
  width: 1200px;
  text-align: center;
  text-transform: lowercase;
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  font-weight: 400;
  color: #545454;
}

.section-bg {
  position: fixed;
  top: 35vh;
  left: 50%;
  transform: translateX(-10vw);
  z-index: -100;
  width: 20vw;
  text-align: center;
}

.class__list {
  margin: 13em auto 5em;
  max-width: 1000px;
}

.class__card {
  display: block;
  margin-bottom: 2em;
  transition: .3s ease-in-out;
  border: 1px solid #a9a9a9;
  background-color: rgba(255, 255, 255, .9);
  height: 150px;
  color: #545454;
}

.class__card:hover {
  -webkit-box-shadow: 0 0 20px 0 #a9a9a9;
  -moz-box-shadow: 0 0 20px 0 #a9a9a9;
  box-shadow: 0 0 20px 0 #a9a9a9;
}

.class__pic,
.class__info,
.class__price {
  display: inline-block;
}

.class__pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-right: 1px solid #f1f1f1;
  width: 25%;
  height: 100%;
}

.class__info {
  position: relative;
  top: -30%;
  margin: 0 2%;
  width: 55%;
}

.class__title {
  margin-bottom: .5em;
  font-weight: 500;
}

.class__time {
  letter-spacing: 1.25px;
  font-weight: 300;
}

.class__price {
  position: relative;
  top: -40%;
  width: 15%;
  text-align: center;
}

.class__price > h1 {
  border: 1px solid #ff383f;
  border-radius: 5px;
  margin: 0 auto;
  width: 75%;
  line-height: 1.5;
}

.class-page {
  display: none;
  transition: .3s ease-in-out;
}

.class-page.show-page {
  display: block;
  z-index: 200;
}

.class-page__overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 84, 84, .85);
}

.class-page__content {
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-400px, -325px);
  width: 800px;
  height: 650px;
  border-radius: 5px;
  background-color: #ffffff;
}

.class-page__close {
  position: fixed;
  z-index: 300;
  top: -20px;
  right: -40px;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: #ff383f;
  cursor: pointer;
}

.class-page__pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 60%;
}

.class-page__info-col {
  float: left;
  width: 45%;
  margin: 2.5% 0;
  padding: 0 2.25%;
}

#class-page__info-left {
  text-align: right;
  border-right: 1px solid #f1f1f1;
}

.class-page__subtitle {
  margin-top: .5em;
  text-transform: lowercase;
  letter-spacing: 1.25px;
  font-weight: 300;
  color: #ff383f;
}

.class-page__price {
  margin-top: 1em;
}

.class-page__description {
  margin: 0;
  line-height: 1.4;
}